Task 4.8: Grouping Data & Aggregating Variables

Import Libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#import 'orders_products_merged_updated.pkl'
df_ords_merged = pd.read_pickle(r'/Users/samuelcallender/Documents/ Instacart Basket Analysis/02 Data/Prepared Data/orders_products_merged_updated.pkl')

In [3]:
df_ords_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,...,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Average orders
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,2,2,473747,1,prior,3,3,12,21.0,196,...,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,4,4,431534,1,prior,5,4,15,28.0,196,...,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [4]:
df_ords_merged.shape

(32406041, 21)

Q2: In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [5]:
#aggregated mean
df_ords_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.213779
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.171095
12               15.887671
13               16.583536
14               16.771241
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Q3: Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

The entire dataframe includes all of the departments as opposed to the subset, which does not include all departments. Since we have a much more inclusive dataset, the mean is also varied versus the subset of data.

Q4: Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [6]:
#create "max order" column
df_ords_merged['max_order'] = df_ords_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
df_ords_merged.head(10)

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Average orders,10
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,2,2,473747,1,prior,3,3,12,21.0,196,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,4,4,431534,1,prior,5,4,15,28.0,196,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
5,5,5,3367565,1,prior,6,2,7,19.0,196,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Average orders,10
6,6,6,550135,1,prior,7,1,9,20.0,196,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10
7,7,7,3108588,1,prior,8,1,14,14.0,196,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,8,8,2295261,1,prior,9,1,16,0.0,196,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10
9,9,9,2550362,1,prior,10,4,8,30.0,196,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10

In [8]:
#create "loyalty flag" loyal customer
df_ords_merged.loc[df_ords_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
#create "loyalty flag" regular customer
df_ords_merged.loc[(df_ords_merged['max_order'] <= 40) & (df_ords_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
#create "loyalty flag" new customer
df_ords_merged.loc[df_ords_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
#check value counts
df_ords_merged['loyalty_flag'].value_counts()

Regular customer    15877395
Loyal customer      10284396
New customer         6244250
Name: loyalty_flag, dtype: int64

In [12]:
df_ords_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

Q5: The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [13]:
#find descriptive stats
df_ords_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386229  1.0  99999.0  106816087.8
New customer      13.294406  1.0  99999.0   83013593.9
Regular customer  12.495501  1.0  99999.0  198395997.3

Q6: The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

A. If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

B. If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [14]:
#create spending flag
df_ords_merged['average_price'] = df_ords_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [15]:
#averages
df_ords_merged['average_price'] = df_ords_merged['average_price'].round(2)

In [16]:
df_ords_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Average orders,10,New customer,6.37
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.37
2,2,2,473747,1,prior,3,3,12,21.0,196,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.37
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.37
4,4,4,431534,1,prior,5,4,15,28.0,196,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.37

In [17]:
#create spending flag "low spender"
df_ords_merged.loc[df_ords_merged['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [18]:
#create spending flag "high spender"
df_ords_merged.loc[df_ords_merged['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [19]:
df_ords_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,9.0,both,Mid-range product,Regularly busy,Regularly days,Average orders,10,New customer,6.37,Low spender
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.37,Low spender
2,2,2,473747,1,prior,3,3,12,21.0,196,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.37,Low spender
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.37,Low spender
4,4,4,431534,1,prior,5,4,15,28.0,196,...,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.37,Low spender

In [20]:
#check counts
df_ords_merged['spending_flag'].value_counts()

Low spender     31771140
High spender      634901
Name: spending_flag, dtype: int64

Q7: In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

A: If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

B: If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

C: If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [21]:
#create order frequency flag
df_ords_merged['median_prior_orders'] = df_ords_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [22]:
df_ords_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,both,Mid-range product,Regularly busy,Regularly days,Average orders,10,New customer,6.37,Low spender,20.5
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.37,Low spender,20.5
2,2,2,473747,1,prior,3,3,12,21.0,196,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.37,Low spender,20.5
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.37,Low spender,20.5
4,4,4,431534,1,prior,5,4,15,28.0,196,...,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.37,Low spender,20.5

In [23]:
#create order frequency flag "non-frequent customer"
df_ords_merged.loc[df_ords_merged['median_prior_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [24]:
#create order frequency flag "regular customer"
df_ords_merged.loc[(df_ords_merged['median_prior_orders'] > 10) & (df_ords_merged['median_prior_orders'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [25]:
#create order frequency flag "frequent customer"
df_ords_merged.loc[df_ords_merged['median_prior_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [26]:
df_ords_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,Mid-range product,Regularly busy,Regularly days,Average orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
2,2,2,473747,1,prior,3,3,12,21.0,196,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
4,4,4,431534,1,prior,5,4,15,28.0,196,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer

In [27]:
#check the counts
df_ords_merged['spending_flag'].value_counts()

Low spender     31771140
High spender      634901
Name: spending_flag, dtype: int64

In [28]:
df_ords_merged.shape

(32406041, 27)

Q9: Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [29]:
df_ords_merged.to_pickle(r'/Users/samuelcallender/Documents/ Instacart Basket Analysis/02 Data/Prepared Data/orders_products_merged_updated_2.pkl')